<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ChemDataBase" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Пользователь\OneDrive\Рабочий стол\ChemicalLibrary\ChemicalLibrary\DataBaseLibrary\ChemDataBase.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>