<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <connectionStrings>
        <add name="ChemDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\PetProjects\ChemicalLibrary\ChemicalMenu\RedOx.DataBase\ChemDataBase.mdf;Integrated Security=True"/>
    </connectionStrings>
</configuration>